{%load static menus_tags wagtailcore_tags %}
{%get_menu "main" as navigation %}
{% all_menus as menus%}

<!--experimental area here -->
    <div class="form-group">
      <label for="exampleSelect2">Example multiple select</label>
      <select multiple="" class="form-control" id="exampleSelect2">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
<!-- ends here-->
<!--The test for the nav bar--
<div class="banner">
    <div class="row">
         <div class="container col-lg-6">
             <div class="row ">

    <div class="container col-lg-1">
    <img class="img-fluid"  src="{%static 'images/unnamed.png'%}" alt="Image Not Found" width="140vw" height="140vw">
    </div>
        <div class="container col-lg-1 ">

        <a class="navbar-brand" href="#"><h1 style="color: #ffc266;font-size:2vw;">Udmiya Dham</h1></a>
        </div>

    <div class="container col-lg-1 ">
   <img class="img-fluid" src="{%static 'images/ganpati.png'%}" alt="Image Not Found" height="150vw" width="150vw">
    </div>
</div>
             </div>
        <div class="container col-lg-6">
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto mt-5">
            <li class="nav-item active">
                <a class="nav-link" href="/"><h5 >Home</h5><span class="sr-only">(current)</span></a>
            </li>

            {%for item in navigation.menu_items.all%}

            {% if item.title|slugify in menus %}
            {% get_menu item.title|slugify as name %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                   aria-expanded="false"><h6 class="mx-1">{{item.title|title}}</h6></a>
                <div class="dropdown-menu">
                    {%for sub in name.menu_items.all%}
                    <a class="dropdown-item" href="{{sub.link}}" {%if item.open_in_new_tab%} target="_blank"
                       {%endif%}u}}><h6>{{sub.title}}</h6><span class="sr-only">(current)</span></a></a>
                    {%endfor%}
                </div>
            </li>
            {%else%}


            <li class="nav-item active">
                <a class="nav-link" href="{{item.link}}" {%if item.open_in_new_tab%} target="_blank" {%endif%}>{{item.title}}
                    <span class="sr-only">(current)</span></a>
            </li>
            {%endif%}
            {%endfor%}
        </ul>

    </div>
    <div class="container ml-auto ">
    </div>
</nav>

        </div>
    </div>
</div>

<!-- the test for nav bar ends here-->


<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#"><h1 style="color: #ffc266;font-size:2vw;"><b>Udmiya Dham </b> </h1></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse ml-5" id="navbarColor01">
        <ul class="navbar-nav mr-auto mt-5">
            <li class="nav-item active">
                <a class="nav-link" href="/"><h5 >Home</h5><span class="sr-only">(current)</span></a>
            </li>

            {%for item in navigation.menu_items.all%}

            {% if item.title|slugify in menus %}
            {% get_menu item.title|slugify as name %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                   aria-expanded="false"><h5 class="mx-1">{{item.title|title}}</h5></a>
                <div class="dropdown-menu">
                    {%for sub in name.menu_items.all%}
                    <a class="dropdown-item" href="{{sub.link}}" {%if item.open_in_new_tab%} target="_blank"
                       {%endif%}u}}><h6>{{sub.title}}</h6><span class="sr-only">(current)</span></a></a>
                    {%endfor%}
                </div>
            </li>
            {%else%}


            <li class="nav-item active">
                <a class="nav-link" href="{{item.link}}" {%if item.open_in_new_tab%} target="_blank" {%endif%}>{{item.title}}
                    <span class="sr-only">(current)</span></a>
            </li>
            {%endif%}
            {%endfor%}
        </ul>

    </div>
    <div class="container ml-auto ">
    </div>
</nav>