{%load static menus_tags wagtailcore_tags %}
{%get_menu "main" as navigation %}
{% all_menus as menus%}

<!--experimental area here -->

<!-- ends here-->

<!-- the test for nav bar ends here-->


<nav class="navbar navbar-expand-lg navbar-dark " style="background-color:#993d00">
    <img src="{%static 'images/umiyadham.gif' %}" alt="no image found">
<!--    <a class="navbar-brand" href="#"><h1 style="color: #ffc266;font-size:2vw;"><b>Udmiya Dham </b> </h1></a>-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse ml-5" id="navbarColor01">
        <ul class="navbar-nav mr-auto mt-5">
            <li class="btn btn-outline-warning">
                <a class="nav-link" href="/"><h5 >Home</h5><span class="sr-only">(current)</span></a>
            </li>

            {%for item in navigation.menu_items.all%}

            {% if item.title|slugify in menus %}
            {% get_menu item.title|slugify as name %}
            <li class="btn btn-outline-warning dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                   aria-expanded="false"><h5 class="mx-1">{{item.title|title}}</h5></a>
                <div class="dropdown-menu" >
                    {%for sub in name.menu_items.all%}
                    <a class="dropdown-item" href="{{sub.link}}" {%if item.open_in_new_tab%} target="_blank"
                       {%endif%} }}><h6>{{sub.title}}</h6><span class="sr-only">(current)</span></a></a>
                    {%endfor%}
                </div>
            </li>
            {%else%}


            <li class="nav-item active">
                <a class="nav-link" href="{{item.link}}" {%if item.open_in_new_tab%} target="_blank" {%endif%}>{{item.title}}
                    <span class="sr-only">(current)</span></a>
            </li>
            {%endif%}
            {%endfor%}
        </ul>

    </div>
    <div class="container ml-auto ">
    </div>
</nav>