{% load static wagtailuserbar menus_tags wagtailcore_tags %}

<!--this is loading the header files here -->
{% block head %}
    {% include "base/head.html" %}
{% endblock head %}

<body class="{% block body_class %}{% endblock %}" style="background-color:#993d00">
{% wagtailuserbar %}

<!--This is loading the navigation bar here -->
{%block navigation_bar %}
    {% include "base/navigation_bar.html"%}
{%endblock navigation_bar%}

<!--this is the content for adding bread crumbs -->
<div class="container " >
    <div class="row">
                <ol class="breadcrumb " style="color:#ffff00">
                    {% if self.get_ancestors|length > 1 %}
                    {% for page in self.get_ancestors %}
                    {% if page.is_root == False %}
                   {%if page.type %}
                    <li class="breadcrumb-item">{{page.types}}</li>
                    {%endif%}

                    {%if forloop.counter == 2 %}
                    <li class="breadcrumb-item"><a href="/"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                    {%else%}
                    <li class="breadcrumb-item">{{page.title}}</li>
                    {%endif%}
                    {% endif %}
                    {% endfor %}
                    <li class="breadcrumb-item active" aria-current="page">{{self.title}}</li>
                    {%else%}
                    <li class="breadcrumb-item" aria-current="page"><a href="/"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                {% endif %}
                </ol>

        </div>
    </div>
<!--bread crumbs ends -->


{% block content%}
<!--This is the main container here-->

{%endblock content %}

<hr>
<hr>
{%block footer %}
     {% include "base/footer.html"%}
{%endblock footer%}

{# Global javascript #}

{% block extra_js %}
{# Override this in templates to add extra javascript #}


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'js/umiyadham.js' %}"></script>
{% endblock %}
</body>
</html>
